In [1]:
import pybaseball as pyb
from pybaseball import statcast, pitching_stats, playerid_lookup, statcast_pitcher, statcast_pitcher_pitch_arsenal, pitching_stats_bref, pitching_stats_range
import numpy as np
import math
import pandas as pd
import glob
import os
import re
import unicodedata
from datetime import datetime
from itertools import groupby
from operator import itemgetter

C:\Users\johns\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
all_2010_stats_df = pd.read_csv('all_2010_stats_df.csv', index_col=0)

In [3]:
all_2010_stats_df.drop(columns=['batter', 'events', 'description', 'zone',
                                'des', 'game_type', 'stand', 'home_team',
                                'away_team', 'type', 'hit_location', 'bb_type',
                                'balls', 'strikes', 'pfx_x', 'spin_dir', 
                                'pfx_z', 'plate_x', 'plate_z', 'on_3b',
                                'on_2b', 'on_1b', 'outs_when_up', 'inning',
                                'inning_topbot', 'hc_x', 'hc_y', 'fielder_2',
                                'umpire', 'sv_id', 'hit_distance_sc', 'sz_top',
                                 'sz_bot', 'launch_speed', 'launch_angle', 'game_pk',
                                'pitcher.1', 'fielder_2.1', 'fielder_3', 'fielder_4',
                                'fielder_5', 'fielder_6', 'fielder_7', 'fielder_8',
                                'fielder_9', 'estimated_ba_using_speedangle',
                                'estimated_woba_using_speedangle', 'babip_value',
                                'launch_speed_angle', 'woba_value', 'woba_denom', 'iso_value', 
                                'at_bat_number', 'pitch_number', 'home_score', 'away_score',
                                'bat_score', 'fld_score', 'post_home_score', 'post_bat_score',
                                'post_fld_score', 'post_away_score', 'if_fielding_alignment',
                                'of_fielding_alignment', 'delta_home_win_exp',
                                'delta_run_exp', 'spin_rate_deprecated', 'break_angle_deprecated',
                               'break_length_deprecated', 'tfs_deprecated', 'tfs_zulu_deprecated'], inplace=True)
all_2010_stats_df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,pitcher,p_throws,game_year,vx0,...,vz0,ax,ay,az,effective_speed,release_spin_rate,release_extension,release_pos_y,pitch_name,spin_axis
0,SL,2010-10-03,82.8,1.82,6.45,"Rhodes, Arthur",121125,L,2010,-4.524183,...,-7.207636,-4.792,18.730,-31.203,NaN,NaN,NaN,54.5,Slider,NaN
1,SL,2010-10-03,81.1,1.76,6.46,"Rhodes, Arthur",121125,L,2010,-4.633618,...,-4.330090,-5.080,21.113,-34.174,NaN,NaN,NaN,54.5,Slider,NaN
2,FF,2010-10-03,90.3,1.94,6.31,"Rhodes, Arthur",121125,L,2010,-10.432844,...,-8.518459,6.879,25.487,-13.112,NaN,NaN,NaN,54.5,4-Seam Fastball,NaN
3,SL,2010-10-03,80.4,1.71,6.55,"Rhodes, Arthur",121125,L,2010,-4.970231,...,-2.309743,-3.617,22.976,-31.884,NaN,NaN,NaN,54.5,Slider,NaN
4,SL,2010-10-03,80.7,1.76,6.52,"Rhodes, Arthur",121125,L,2010,-3.735821,...,-2.970547,-4.951,19.275,-32.490,NaN,NaN,NaN,54.5,Slider,NaN

In [9]:
all_2010_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471770 entries, 0 to 471769
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          471770 non-null  int64
 1   pitch_type     471770 non-null  object
 2   game_date      471770 non-null  object
 3   release_speed  471770 non-null  float64
 4   release_pos_x  471770 non-null  float64
 5   release_pos_z  471770 non-null  float64
 6   player_name    471770 non-null  object
 7   pitcher        471770 non-null  int64
 8   p_throws       471770 non-null  object
 9   game_year      471770 non-null  int64
 10  vx0            471770 non-null  float64
 11  vy0            471770 non-null  float64
 12  vz0            471770 non-null  float64
 13  ax             471770 non-null  float64
 14  ay             471770 non-null  float64
 15  az             471770 non-null  float64
 16  release_pos_y  471770 non-null  float64
 17  pitch_name     471770 non-null  object
dtypes: float64(10), int64(3), object(5)
memory usage: 64.8+ MB

In [5]:
all_2010_stats_df.drop(columns=['spin_axis', 'effective_speed',
                               'release_spin_rate', 'release_extension'], inplace=True)
all_2010_stats_df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,pitcher,p_throws,game_year,vx0,vy0,vz0,ax,ay,az,release_pos_y,pitch_name
0,SL,2010-10-03,82.8,1.82,6.45,"Rhodes, Arthur",121125,L,2010,-4.524183,-120.941924,-7.207636,-4.792,18.730,-31.203,54.5,Slider
1,SL,2010-10-03,81.1,1.76,6.46,"Rhodes, Arthur",121125,L,2010,-4.633618,-118.613714,-4.330090,-5.080,21.113,-34.174,54.5,Slider
2,FF,2010-10-03,90.3,1.94,6.31,"Rhodes, Arthur",121125,L,2010,-10.432844,-131.690814,-8.518459,6.879,25.487,-13.112,54.5,4-Seam Fastball
3,SL,2010-10-03,80.4,1.71,6.55,"Rhodes, Arthur",121125,L,2010,-4.970231,-117.732494,-2.309743,-3.617,22.976,-31.884,54.5,Slider
4,SL,2010-10-03,80.7,1.76,6.52,"Rhodes, Arthur",121125,L,2010,-3.735821,-118.137504,-2.970547,-4.951,19.275,-32.490,54.5,Slider

In [6]:
all_2010_stats_df = all_2010_stats_df.dropna(axis=0)

In [7]:
all_2010_stats_df.reset_index(inplace=True)

In [8]:
all_2010_stats_df.drop('index', axis=1)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,pitcher,p_throws,game_year,vx0,vy0,vz0,ax,ay,az,release_pos_y,pitch_name
0,SL,2010-10-03,82.8,1.82,6.45,"Rhodes, Arthur",121125,L,2010,-4.524183,-120.941924,-7.207636,-4.792,18.730,-31.203,54.5,Slider
1,SL,2010-10-03,81.1,1.76,6.46,"Rhodes, Arthur",121125,L,2010,-4.633618,-118.613714,-4.330090,-5.080,21.113,-34.174,54.5,Slider
2,FF,2010-10-03,90.3,1.94,6.31,"Rhodes, Arthur",121125,L,2010,-10.432844,-131.690814,-8.518459,6.879,25.487,-13.112,54.5,4-Seam Fastball
3,SL,2010-10-03,80.4,1.71,6.55,"Rhodes, Arthur",121125,L,2010,-4.970231,-117.732494,-2.309743,-3.617,22.976,-31.884,54.5,Slider
4,SL,2010-10-03,80.7,1.76,6.52,"Rhodes, Arthur",121125,L,2010,-3.735821,-118.137504,-2.970547,-4.951,19.275,-32.490,54.5,Slider
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471765,SI,2010-04-07,91.6,-1.45,6.52,"Wainwright, Adam",425794,R,2010,6.006385,-134.106993,-8.357035,-12.274,29.424,-14.815,54.5,Sinker
471766,SI,2010-04-07,92.1,-1.29,6.58,"Wainwright, Adam",425794,R,2010,2.420999,-134.859547,-8.452956,-9.856,27.434,-14.636,54.5,Sinker
471767,SI,2010-04-07,91.8,-1.33,6.57,"Wainwright, Adam",425794,R,2010,6.437927,-134.534191,-5.116190,-9.857,29.613,-15.215,54.5,Sinker
471768,SI,2010-04-07,90.7,-1.28,6.65,"Wainwright, Adam",425794,R,2010,6.967487,-132.758436,-5.594620,-12.097,27.412,-20.002,54.5,Sinker
471769,SI,2010-04-07,92.2,-1.20,6.58,"Wainwright, Adam",425794,R,2010,4.381647,-135.087374,-4.197580,-11.508,27.207,-20.746,54.5,Sinker

In [10]:
# Group by 'game_date' and 'pitcher' to calculate the total pitches
total_pitches = all_2010_stats_df.groupby(['game_date', 'pitcher']).size().reset_index(name='total_pitches')

# Group by 'game_date', 'pitcher', and 'pitch_type' to calculate the sum total of each pitch_type
total_pitches_by_type = all_2010_stats_df.groupby(['game_date', 'pitcher', 'pitch_type']).size().reset_index(name='count_by_pitch_type')

# Calculate averages of the specified metrics for each pitch type, grouped by game_date and pitcher
avg_metrics = all_2010_stats_df.groupby(['game_date', 'pitcher', 'pitch_type']).agg({
    'release_speed': 'mean',
    'release_pos_x': 'mean',
    'release_pos_z': 'mean',
    'vx0': 'mean',
    'vy0': 'mean',
    'vz0': 'mean',
    'ax': 'mean',
    'ay': 'mean',
    'az': 'mean',
    'release_pos_y': 'mean',
}).reset_index()

# Merging total pitches and total pitches by type back if needed
# This step depends on how you want to structure your final DataFrame. You can merge these summary DataFrames
# based on 'game_date' and 'pitcher' columns to get a comprehensive summary DataFrame.

# Example merge (you can adjust or expand based on what you exactly need):
grouped_2010_df = total_pitches.merge(total_pitches_by_type, on=['game_date', 'pitcher'], how='left')
grouped_2010_df = grouped_2010_df.merge(avg_metrics, on=['game_date', 'pitcher', 'pitch_type'], how='left')

# Note: This example assumes you want to merge all these statistics back together. You might adjust the merging
# strategy based on your analysis needs, including how you want to handle the multi-level grouping and aggregation.
grouped_2010_df

,game_date,pitcher,total_pitches,pitch_type,count_by_pitch_type,release_speed,release_pos_x,release_pos_z,vx0,vy0,vz0,ax,ay,az,release_pos_y
0,2010-04-04,120221,21,CH,2,87.050000,-2.490000,5.720000,9.087924,-127.385128,-3.527226,-14.719500,26.835000,-20.092500,54.5
1,2010-04-04,120221,21,CU,1,78.000000,-2.110000,5.950000,-0.087149,-114.401575,-0.474097,12.470000,19.322000,-30.707000,54.5
2,2010-04-04,120221,21,FF,3,91.133333,-2.570000,5.866667,9.074657,-133.437334,-2.499592,-12.893000,30.009333,-13.226000,54.5
3,2010-04-04,120221,21,SI,8,91.775000,-2.601250,5.691250,10.073392,-134.236923,-4.211243,-17.814000,28.639750,-12.917125,54.5
4,2010-04-04,120221,21,SL,7,87.042857,-2.475714,5.797143,5.953335,-127.485161,-3.244534,1.911143,25.899714,-19.806571,54.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30332,2010-10-03,502009,82,SI,20,94.400000,-1.066000,7.158500,4.675690,-138.064485,-8.157394,-10.385150,29.800800,-12.266400,54.5
30333,2010-10-03,502009,82,SL,20,83.315000,-1.167000,7.045500,2.368084,-122.025905,-3.337774,3.778100,22.953200,-32.809150,54.5
30334,2010-10-03,519242,30,CH,1,86.800000,3.840000,4.630000,-14.132285,-126.900365,-0.657864,20.948000,32.936000,-30.684000,54.5
30335,2010-10-03,519242,30,SI,16,96.787500,3.454375,4.821875,-13.145404,-141.462686,-1.185453,19.623938,35.102375,-23.544313,54.5
30336,2010-10-03,519242,30,SL,13,84.007692,3.500769,4.907692,-7.918955,-123.014666,1.566799,-0.857692,25.381769,-34.969692,54.5

In [11]:
grouped_2010_df['game_date'] = pd.to_datetime(grouped_2010_df['game_date'])
grouped_2010_df['season'] = grouped_2010_df['game_date'].dt.year

# Step 1: Season Total Pitches
season_total_pitches = grouped_2010_df.groupby(['pitcher', 'season'])['total_pitches'].sum().reset_index(name='season_total_pitches')

# Step 2: Season Total by Pitch Type
season_total_by_pitch_type = grouped_2010_df.groupby(['pitcher', 'season', 'pitch_type'])['count_by_pitch_type'].sum().reset_index(name='season_total_count_by_pitch_type')

# Weighted Averages Calculation Setup
weighted_avg_columns = ['release_speed', 'release_pos_x', 'release_pos_z', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'release_pos_y']
for col in weighted_avg_columns:
    grouped_2010_df[f'{col}_product'] = grouped_2010_df[col] * grouped_2010_df['count_by_pitch_type']

weighted_avg_aggregations = {f'{col}_product': 'sum' for col in weighted_avg_columns}
weighted_avg_aggregations['count_by_pitch_type'] = 'sum'

# Aggregate for weighted averages
weighted_avg_df = grouped_2010_df.groupby(['pitcher', 'season', 'pitch_type']).agg(weighted_avg_aggregations).reset_index()

# Calculate weighted averages
for col in weighted_avg_columns:
    weighted_avg_df[f'{col}_weighted_avg'] = weighted_avg_df[f'{col}_product'] / weighted_avg_df['count_by_pitch_type']

# Cleanup
weighted_avg_df.drop(columns=[f'{col}_product' for col in weighted_avg_columns], inplace=True)

# Merge season totals and weighted averages
final_2010_df = pd.merge(season_total_pitches, season_total_by_pitch_type, on=['pitcher', 'season'])
final_2010_df = pd.merge(final_2010_df, weighted_avg_df, on=['pitcher', 'season', 'pitch_type'])

final_2010_df.head()

,pitcher,season,season_total_pitches,pitch_type,season_total_count_by_pitch_type,count_by_pitch_type,release_speed_weighted_avg,release_pos_x_weighted_avg,release_pos_z_weighted_avg,vx0_weighted_avg,vy0_weighted_avg,vz0_weighted_avg,ax_weighted_avg,ay_weighted_avg,az_weighted_avg,release_pos_y_weighted_avg
0,110683,2010,4616,CH,28,28,84.150000,-1.638929,5.812143,4.123418,-123.258496,-2.012025,-8.174357,24.109786,-28.231107,54.5
1,110683,2010,4616,CU,3,3,74.666667,-1.730000,6.416667,1.452707,-109.676484,1.382751,6.491333,21.171667,-35.056667,54.5
2,110683,2010,4616,FF,164,164,93.057927,-1.578171,5.767683,5.209686,-136.354024,-4.331219,-7.577841,30.875140,-15.486085,54.5
3,110683,2010,4616,IN,13,13,58.238462,-1.419231,6.918462,1.722914,-84.907173,5.705495,-0.975154,11.299538,-27.589308,54.5
4,110683,2010,4616,PO,2,2,83.900000,-0.875000,5.840000,11.418994,-122.524630,-0.118320,-7.160500,23.998500,-17.308000,54.5

In [12]:
final_2010_df.to_csv('final_2010_df.csv')

In [17]:
playerid_lookup('Dickey')

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,dickey,bill,113340,dickb101,dickebi01,1003271,1928.0,1946.0
1,dickey,george,113339,dickg101,dickege02,1003274,1935.0,1947.0
2,dickey,steel arm,-1,dicks101,dickest01,-1,1922.0,1922.0
3,dickey,r. a.,285079,dickr001,dicker.01,1245,2001.0,2017.0

In [24]:
start_date = '2015-06-06'
end_date = '2016-08-08'
player_id = 285079
data = statcast_pitcher(start_dt=start_date, end_dt=end_date, player_id=player_id)

Gathering Player Data

In [25]:
data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,KN,2016-08-08,69.6,-0.35,6.51,"Dickey, R.A.",543543,285079,double,hit_into_play,...,4,4,4,4,4,Standard,Standard,197.0,-0.175,1.483
1,FF,2016-08-08,80.6,-0.62,6.21,"Dickey, R.A.",543543,285079,NaN,ball,...,4,2,4,2,4,Standard,Standard,209.0,-0.060,0.074
2,KN,2016-08-08,82.0,-0.60,6.06,"Dickey, R.A.",543543,285079,NaN,foul,...,4,2,4,2,4,Standard,Standard,161.0,0.000,-0.106
3,KN,2016-08-08,79.3,-0.53,6.03,"Dickey, R.A.",543543,285079,NaN,swinging_strike,...,4,2,4,2,4,Standard,Standard,5.0,0.000,-0.083
4,FF,2016-08-08,84.9,-0.69,5.98,"Dickey, R.A.",446334,285079,hit_by_pitch,hit_by_pitch,...,4,2,4,2,4,Standard,Standard,249.0,-0.048,0.383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4672,FF,2015-06-07,81.3,-0.41,5.94,"Dickey, R.A.",543807,285079,walk,ball,...,0,0,0,0,0,Standard,Standard,NaN,-0.036,0.228
4673,KN,2015-06-07,70.2,-0.23,6.30,"Dickey, R.A.",543807,285079,NaN,ball,...,0,0,0,0,0,Standard,Standard,NaN,0.000,0.111
4674,KN,2015-06-07,72.9,-0.40,6.17,"Dickey, R.A.",543807,285079,NaN,ball,...,0,0,0,0,0,Standard,Standard,NaN,0.000,0.048
4675,KN,2015-06-07,76.3,-0.31,6.10,"Dickey, R.A.",543807,285079,NaN,ball,...,0,0,0,0,0,Standard,Standard,NaN,0.000,0.023
4676,KN,2015-06-07,72.1,-0.39,6.27,"Dickey, R.A.",543807,285079,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,NaN,0.000,-0.032

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4677 entries, 0 to 4676
Data columns (total 92 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   pitch_type                       4585 non-null   object
 1   game_date                        4677 non-null   object
 2   release_speed                    4588 non-null   float64
 3   release_pos_x                    4586 non-null   float64
 4   release_pos_z                    4586 non-null   float64
 5   player_name                      4677 non-null   object
 6   batter                           4677 non-null   int64
 7   pitcher                          4677 non-null   int64
 8   events                           1280 non-null   object
 9   description                      4677 non-null   object
 10  spin_dir                         0 non-null      float64
 11  spin_rate_deprecated             0 non-null      float64
 12  break_angle_deprecated           0 non-null      float64
 13  break_length_deprecated          0 non-null      float64
 14  zone                             4586 non-null   float64
 15  des                              4677 non-null   object
 16  game_type                        4677 non-null   object
 17  stand                            4677 non-null   object
 18  p_throws                         4677 non-null   object
 19  home_team                        4677 non-null   object
 20  away_team                        4677 non-null   object
 21  type                             4677 non-null   object
 22  hit_location                     1118 non-null   float64
 23  bb_type                          971 non-null    object
 24  balls                            4677 non-null   int64
 25  strikes                          4677 non-null   int64
 26  game_year                        4677 non-null   int64
 27  pfx_x                            4586 non-null   float64
 28  pfx_z                            4586 non-null   float64
 29  plate_x                          4586 non-null   float64
 30  plate_z                          4586 non-null   float64
 31  on_3b                            365 non-null    float64
 32  on_2b                            674 non-null    float64
 33  on_1b                            1224 non-null   float64
 34  outs_when_up                     4677 non-null   int64
 35  inning                           4677 non-null   int64
 36  inning_topbot                    4677 non-null   object
 37  hc_x                             948 non-null    float64
 38  hc_y                             948 non-null    float64
 39  tfs_deprecated                   0 non-null      float64
 40  tfs_zulu_deprecated              0 non-null      float64
 41  fielder_2                        4677 non-null   int64
 42  umpire                           0 non-null      float64
 43  sv_id                            4486 non-null   object
 44  vx0                              4586 non-null   float64
 45  vy0                              4586 non-null   float64
 46  vz0                              4586 non-null   float64
 47  ax                               4586 non-null   float64
 48  ay                               4586 non-null   float64
 49  az                               4586 non-null   float64
 50  sz_top                           4586 non-null   float64
 51  sz_bot                           4586 non-null   float64
 52  hit_distance_sc                  1140 non-null   float64
 53  launch_speed                     1217 non-null   float64
 54  launch_angle                     1217 non-null   float64
 55  effective_speed                  4544 non-null   float64
 56  release_spin_rate                779 non-null    float64
 57  release_extension                4536 non-null   float64
 58  game_pk                          4677 non-null   int64
 59  pitcher.1                        4677 non-null   int64
 60  fielder_2.1                      4677 non-null   int64
 61  fielder_3                        4677 non-null   int64
 62  fielder_4                        4677 non-null   int64
 63  fielder_5                        4677 non-null   int64
 64  fielder_6                        4677 non-null   int64
 65  fielder_7                        4677 non-null   int64
 66  fielder_8                        4677 non-null   int64
 67  fielder_9                        4677 non-null   int64
 68  release_pos_y                    4586 non-null   float64
 69  estimated_ba_using_speedangle    910 non-null    float64
 70  estimated_woba_using_speedangle  910 non-null    float64
 71  woba_value                       1280 non-null   float64
 72  woba_denom                       1209 non-null   float64
 73  babip_value                      1280 non-null   float64
 74  iso_value                        1280 non-null   float64
 75  launch_speed_angle               910 non-null    float64
 76  at_bat_number                    4677 non-null   int64
 77  pitch_number                     4677 non-null   int64
 78  pitch_name                       4585 non-null   object
 79  home_score                       4677 non-null   int64
 80  away_score                       4677 non-null   int64
 81  bat_score                        4677 non-null   int64
 82  fld_score                        4677 non-null   int64
 83  post_away_score                  4677 non-null   int64
 84  post_home_score                  4677 non-null   int64
 85  post_bat_score                   4677 non-null   int64
 86  post_fld_score                   4677 non-null   int64
 87  if_fielding_alignment            4444 non-null   object
 88  of_fielding_alignment            4444 non-null   object
 89  spin_axis                        2301 non-null   float64
 90  delta_home_win_exp               4677 non-null   float64
 91  delta_run_exp                    4585 non-null   float64
dtypes: float64(46), int64(28), object(18)
memory usage: 3.3+ MB

In [29]:
test = pitching_stats_bref(2020)

In [30]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 735 entries, 1 to 764
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    735 non-null    object
 1   Age     735 non-null    int64
 2   #days   735 non-null    int64
 3   Lev     735 non-null    object
 4   Tm      735 non-null    object
 5   G       735 non-null    int64
 6   GS      735 non-null    int64
 7   W       398 non-null    float64
 8   L       405 non-null    float64
 9   SV      131 non-null    float64
 10  IP      735 non-null    float64
 11  H       735 non-null    int64
 12  R       735 non-null    int64
 13  ER      735 non-null    int64
 14  BB      735 non-null    int64
 15  SO      735 non-null    int64
 16  HR      735 non-null    int64
 17  HBP     735 non-null    int64
 18  ERA     735 non-null    float64
 19  AB      735 non-null    int64
 20  2B      735 non-null    int64
 21  3B      735 non-null    int64
 22  IBB     735 non-null    int64
 23  GDP     735 non-null    int64
 24  SF      735 non-null    int64
 25  SB      735 non-null    int64
 26  CS      735 non-null    int64
 27  PO      735 non-null    int64
 28  BF      735 non-null    int64
 29  Pit     735 non-null    int64
 30  Str     735 non-null    float64
 31  StL     735 non-null    float64
 32  StS     735 non-null    float64
 33  GB/FB   734 non-null    float64
 34  LD      734 non-null    float64
 35  PU      734 non-null    float64
 36  WHIP    735 non-null    float64
 37  BAbip   734 non-null    float64
 38  SO9     735 non-null    float64
 39  SO/W    692 non-null    float64
 40  mlbID   735 non-null    object
dtypes: float64(15), int64(22), object(4)
memory usage: 241.2+ KB

In [36]:
help(pitching_stats_range)

Help on function pitching_stats_range in module pybaseball.league_pitching_stats:

pitching_stats_range(start_dt: Optional[str] = None, end_dt: Optional[str] = None) -> pandas.core.frame.DataFrame
    Get all pitching stats for a set time range. This can be the past week, the
    month of August, anything. Just supply the start and end date in YYYY-MM-DD
    format.

In [37]:
help(pitching_stats)

Help on method fetch in module pybaseball.datasources.fangraphs:

fetch(*args, **kwargs) method of pybaseball.datasources.fangraphs.FangraphsPitchingStatsTable instance
    Get leaderboard data from Fangraphs.

    ARGUMENTS:
    start_season       : int              : First season to return data for
    end_season         : int              : Last season to return data for
                                            Default = start_season
    league             : str              : League to return data for: ALL, AL, FL, NL
                                            Default = ALL
    ind                : int              : DEPRECATED. ONLY FOR BACKWARDS COMPATIBILITY. USE split_seasons INSTEAD
                                            1 if you want individual season-level data
                                            0 if you want a player's aggreagate data over all seasons in the query
    stat_columns       : str or List[str] : The columns of data to return
                                            Default = ALL
    qual               : Optional[int]    : Minimum number of plate appearances to be included.
                                            If None is specified, the Fangraphs default ('y') is used.
                                            Default = None
    split_seasons      : bool             : True if you want individual season-level data
                                            False if you want aggregate data over all seasons.
                                            Default = False
    month              : str              : Month to filter data by. 'ALL' to not filter by month.
                                            Default = 'ALL'
    on_active_roster   : bool             : Only include active roster players.
                                            Default = False
    minimum_age        : int              : Minimum player age.
                                            Default = 0
    maximum_age        : int              : Maximum player age.
                                            Default = 100
    team               : str              : Team to filter data by.
                                            Specify "0,ts" to get aggregate team data.
    position           : str              : Position to filter data by.
                                            Default = ALL
    max_results        : int              : The maximum number of results to return.
                                            Default = 1000000 (In effect, all results)

In [38]:
help(statcast)

Help on function statcast in module pybaseball.statcast:

statcast(start_dt: str = None, end_dt: str = None, team: str = None, verbose: bool = True, parallel: bool = True) -> pandas.core.frame.DataFrame
    Pulls statcast play-level data from Baseball Savant for a given date range.

    INPUTS:
    start_dt: YYYY-MM-DD : the first date for which you want statcast data
    end_dt: YYYY-MM-DD : the last date for which you want statcast data
    team: optional (defaults to None) : city abbreviation of the team you want data for (e.g. SEA or BOS)
    verbose: bool (defaults to True) : whether to print updates on query progress
    parallel: bool (defaults to True) : whether to parallelize HTTP requests in large queries

    If no arguments are provided, this will return yesterday's statcast data.
    If one date is provided, it will return that date's statcast data.

In [39]:
help(playerid_lookup)

Help on function playerid_lookup in module pybaseball.playerid_lookup:

playerid_lookup(last: str, first: str = None, fuzzy: bool = False) -> pandas.core.frame.DataFrame
    Lookup playerIDs (MLB AM, bbref, retrosheet, FG) for a given player

    Args:
        last (str, required): Player's last name.
        first (str, optional): Player's first name. Defaults to None.
        fuzzy (bool, optional): In case of typos, returns players with names close to input. Defaults to False.

    Returns:
        pd.DataFrame: DataFrame of playerIDs, name, years played

In [40]:
help(statcast_pitcher)

Help on function statcast_pitcher in module pybaseball.statcast_pitcher:

statcast_pitcher(start_dt: Optional[str] = None, end_dt: Optional[str] = None, player_id: Optional[int] = None) -> pandas.core.frame.DataFrame
    Pulls statcast pitch-level data from Baseball Savant for a given pitcher.

    ARGUMENTS
        start_dt : YYYY-MM-DD : the first date for which you want a player's statcast data
        end_dt : YYYY-MM-DD : the final date for which you want data
        player_id : INT : the player's MLBAM ID. Find this by calling pybaseball.playerid_lookup(last_name, first_name),
        finding the correct player, and selecting their key_mlbam.

In [52]:
test2 = statcast_pitcher(start_dt= '2010-04-04', end_dt= '2010-05-05', player_id= 110683)
test2

Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,SI,2010-05-04,92.9,-1.59,5.78,"Batista, Miguel",435263,110683,single,hit_into_play,...,6,3,6,3,6,NaN,NaN,NaN,-0.018,0.595
1,SL,2010-05-04,85.6,-1.46,6.03,"Batista, Miguel",435263,110683,NaN,foul,...,6,2,6,2,6,NaN,NaN,NaN,0.000,0.000
2,SI,2010-05-04,93.6,-1.16,5.76,"Batista, Miguel",435263,110683,NaN,ball,...,6,2,6,2,6,NaN,NaN,NaN,-0.002,0.105
3,SL,2010-05-04,85.6,-1.46,6.05,"Batista, Miguel",435263,110683,NaN,ball,...,6,2,6,2,6,NaN,NaN,NaN,0.000,0.043
4,SL,2010-05-04,85.8,-1.48,5.95,"Batista, Miguel",435263,110683,NaN,called_strike,...,6,2,6,2,6,NaN,NaN,NaN,0.000,-0.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,SI,2010-04-05,90.8,-1.90,5.71,"Batista, Miguel",434563,110683,NaN,ball,...,1,5,1,5,1,NaN,NaN,NaN,0.000,0.099
275,FF,2010-04-05,90.5,-1.57,5.84,"Batista, Miguel",434563,110683,NaN,foul,...,1,5,1,5,1,NaN,NaN,NaN,0.000,-0.064
276,SL,2010-04-05,89.6,-1.76,5.78,"Batista, Miguel",434563,110683,NaN,called_strike,...,1,5,1,5,1,NaN,NaN,NaN,0.000,-0.060
277,FF,2010-04-05,89.0,-1.86,5.76,"Batista, Miguel",434563,110683,NaN,ball,...,1,5,1,5,1,NaN,NaN,NaN,0.000,0.068
278,FF,2010-04-05,90.0,-1.91,5.77,"Batista, Miguel",434563,110683,NaN,ball,...,1,5,1,5,1,NaN,NaN,NaN,0.000,0.034

In [53]:
test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 92 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   pitch_type                       277 non-null    object
 1   game_date                        279 non-null    object
 2   release_speed                    277 non-null    float64
 3   release_pos_x                    277 non-null    float64
 4   release_pos_z                    277 non-null    float64
 5   player_name                      279 non-null    object
 6   batter                           279 non-null    int64
 7   pitcher                          279 non-null    int64
 8   events                           79 non-null     object
 9   description                      279 non-null    object
 10  spin_dir                         0 non-null      float64
 11  spin_rate_deprecated             0 non-null      float64
 12  break_angle_deprecated           0 non-null      float64
 13  break_length_deprecated          0 non-null      float64
 14  zone                             277 non-null    float64
 15  des                              279 non-null    object
 16  game_type                        279 non-null    object
 17  stand                            279 non-null    object
 18  p_throws                         279 non-null    object
 19  home_team                        279 non-null    object
 20  away_team                        279 non-null    object
 21  type                             279 non-null    object
 22  hit_location                     62 non-null     float64
 23  bb_type                          56 non-null     object
 24  balls                            279 non-null    int64
 25  strikes                          279 non-null    int64
 26  game_year                        279 non-null    int64
 27  pfx_x                            277 non-null    float64
 28  pfx_z                            277 non-null    float64
 29  plate_x                          277 non-null    float64
 30  plate_z                          277 non-null    float64
 31  on_3b                            18 non-null     float64
 32  on_2b                            74 non-null     float64
 33  on_1b                            91 non-null     float64
 34  outs_when_up                     279 non-null    int64
 35  inning                           279 non-null    int64
 36  inning_topbot                    279 non-null    object
 37  hc_x                             42 non-null     float64
 38  hc_y                             42 non-null     float64
 39  tfs_deprecated                   0 non-null      float64
 40  tfs_zulu_deprecated              0 non-null      float64
 41  fielder_2                        279 non-null    int64
 42  umpire                           0 non-null      float64
 43  sv_id                            277 non-null    object
 44  vx0                              277 non-null    float64
 45  vy0                              277 non-null    float64
 46  vz0                              277 non-null    float64
 47  ax                               277 non-null    float64
 48  ay                               277 non-null    float64
 49  az                               277 non-null    float64
 50  sz_top                           277 non-null    float64
 51  sz_bot                           277 non-null    float64
 52  hit_distance_sc                  0 non-null      float64
 53  launch_speed                     0 non-null      float64
 54  launch_angle                     0 non-null      float64
 55  effective_speed                  0 non-null      float64
 56  release_spin_rate                0 non-null      float64
 57  release_extension                0 non-null      float64
 58  game_pk                          279 non-null    int64
 59  pitcher.1                        279 non-null    int64
 60  fielder_2.1                      279 non-null    int64
 61  fielder_3                        279 non-null    int64
 62  fielder_4                        279 non-null    int64
 63  fielder_5                        279 non-null    int64
 64  fielder_6                        279 non-null    int64
 65  fielder_7                        279 non-null    int64
 66  fielder_8                        279 non-null    int64
 67  fielder_9                        279 non-null    int64
 68  release_pos_y                    277 non-null    float64
 69  estimated_ba_using_speedangle    0 non-null      float64
 70  estimated_woba_using_speedangle  0 non-null      float64
 71  woba_value                       79 non-null     float64
 72  woba_denom                       0 non-null      float64
 73  babip_value                      79 non-null     float64
 74  iso_value                        79 non-null     float64
 75  launch_speed_angle               0 non-null      float64
 76  at_bat_number                    279 non-null    int64
 77  pitch_number                     279 non-null    int64
 78  pitch_name                       277 non-null    object
 79  home_score                       279 non-null    int64
 80  away_score                       279 non-null    int64
 81  bat_score                        279 non-null    int64
 82  fld_score                        279 non-null    int64
 83  post_away_score                  279 non-null    int64
 84  post_home_score                  279 non-null    int64
 85  post_bat_score                   279 non-null    int64
 86  post_fld_score                   279 non-null    int64
 87  if_fielding_alignment            0 non-null      float64
 88  of_fielding_alignment            0 non-null      float64
 89  spin_axis                        0 non-null      float64
 90  delta_home_win_exp               279 non-null    float64
 91  delta_run_exp                    271 non-null    float64
dtypes: float64(48), int64(28), object(16)
memory usage: 200.7+ KB

In [41]:
help(statcast_pitcher_pitch_arsenal)

Help on function statcast_pitcher_pitch_arsenal in module pybaseball.statcast_pitcher:

statcast_pitcher_pitch_arsenal(year: int, minP: int = 250, arsenal_type: str = 'avg_speed') -> pandas.core.frame.DataFrame
    Retrieves high level stats on each pitcher's arsenal in a given year.

    ARGUMENTS
        year: The year for which you wish to retrieve expected stats data. Format: YYYY.
        minP: The minimum number of pitches thrown. If a player falls below this threshold, they will be excluded
            from the results. If no value is specified, only qualified pitchers will be returned.
        arsenal_type: The type of stat to retrieve for the pitchers' arsenals. Options include ["average_speed",
            "n_", "average_spin"], where "n_" corresponds to the percentage share for each pitch. If no value is
            specified, it will default to average speed.

In [55]:
testing = statcast_pitcher_pitch_arsenal(year= 2010, minP= 400)
testing

,"last_name, first_name",pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,kn_avg_speed,st_avg_speed,sv_avg_speed
0,"Verlander, Justin",434378,96.1,94.7,NaN,87.7,86.4,80.1,NaN,NaN,NaN,NaN
1,"Haren, Dan",429717,91.1,91.4,86.8,NaN,NaN,79.5,86.2,NaN,NaN,NaN
2,"Hernández, Félix",433587,94.9,94.2,95.1,85.8,90.1,81.9,NaN,NaN,NaN,NaN
3,"Weaver, Jered",450308,90.8,90.0,90.5,79.5,78.9,71.0,NaN,NaN,NaN,NaN
4,"Lackey, John",407793,92.1,91.3,85.1,84.5,85.1,80.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
437,"Mills, Brad",502166,86.4,NaN,NaN,NaN,74.4,71.6,NaN,NaN,NaN,NaN
438,"Miller, Justin",277405,88.5,89.1,NaN,80.9,80.5,79.6,NaN,NaN,NaN,NaN
439,"Mendez, Adalberto",458657,91.7,91.8,NaN,80.6,86.1,NaN,NaN,NaN,NaN,NaN
440,"Resop, Chris",434592,94.1,93.9,NaN,80.2,83.6,78.9,NaN,NaN,NaN,NaN
441,"Bonser, Boof",425818,93.1,91.7,NaN,87.9,83.2,80.2,NaN,NaN,NaN,NaN

In [56]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   last_name, first_name  442 non-null    object
 1   pitcher                442 non-null    int64
 2   ff_avg_speed           423 non-null    float64
 3   si_avg_speed           402 non-null    float64
 4   fc_avg_speed           169 non-null    float64
 5   sl_avg_speed           359 non-null    float64
 6   ch_avg_speed           370 non-null    float64
 7   cu_avg_speed           292 non-null    float64
 8   fs_avg_speed           50 non-null     float64
 9   kn_avg_speed           4 non-null      float64
 10  st_avg_speed           0 non-null      float64
 11  sv_avg_speed           0 non-null      float64
dtypes: float64(10), int64(1), object(1)
memory usage: 41.6+ KB

In [42]:
help(pitching_stats_bref)

Help on function pitching_stats_bref in module pybaseball.league_pitching_stats:

pitching_stats_bref(season: Optional[int] = None) -> pandas.core.frame.DataFrame
    Get all pitching stats for a set season. If no argument is supplied, gives stats for
    current season to date.

In [57]:
test3 = pitching_stats_bref(season= 2023)
test3

,Name,Age,#days,Lev,Tm,G,GS,W,L,SV,...,StL,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID
1,Fernando Abad,37,224,Maj-NL,Colorado,6,0,1.0,NaN,NaN,...,0.16,0.03,0.37,0.26,0.04,2.211,0.360,2.8,0.67,472551
2,Andrew Abbott,24,153,Maj-NL,Cincinnati,21,21,8.0,6.0,NaN,...,0.16,0.11,0.30,0.25,0.09,1.317,0.302,9.9,2.73,671096
3,Cory Abbott,27,149,Maj-NL,Washington,22,0,1.0,2.0,NaN,...,0.17,0.12,0.39,0.29,0.05,1.703,0.351,9.2,2.11,676265
4,Albert Abreu,27,173,Maj-AL,New York,45,0,2.0,2.0,NaN,...,0.18,0.10,0.46,0.19,0.05,1.475,0.276,9.3,1.74,656061
5,Bryan Abreu,26,150,Maj-AL,Houston,72,0,3.0,2.0,5.0,...,0.17,0.17,0.39,0.27,0.06,1.042,0.262,12.5,3.23,650556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Rob Zastryzny,31,177,Maj-NL,Pittsburgh,21,1,1.0,NaN,NaN,...,0.17,0.11,0.41,0.25,0.19,1.790,0.349,6.5,1.15,642239
894,Seby Zavala,29,166,Maj-NL,Arizona,1,0,NaN,NaN,NaN,...,0.17,0.00,0.00,0.00,1.00,0.000,0.000,0.0,NaN,664874
895,Angel Zerpa,23,150,Maj-AL,Kansas City,15,3,3.0,3.0,NaN,...,0.14,0.09,0.51,0.22,0.07,1.266,0.307,7.6,4.50,672582
896,Bruce Zimmermann,28,150,Maj-AL,Baltimore,7,0,2.0,NaN,NaN,...,0.16,0.16,0.51,0.20,0.07,1.275,0.333,9.5,NaN,669145
897,Guillermo Zu\xc3\xb1iga,24,192,Maj-NL,St. Louis,2,0,NaN,NaN,NaN,...,0.16,0.07,0.00,0.25,0.25,1.000,0.500,18.0,NaN,670871

In [58]:
test3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 863 entries, 1 to 897
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    863 non-null    object
 1   Age     863 non-null    int64
 2   #days   863 non-null    int64
 3   Lev     863 non-null    object
 4   Tm      863 non-null    object
 5   G       863 non-null    int64
 6   GS      863 non-null    int64
 7   W       571 non-null    float64
 8   L       579 non-null    float64
 9   SV      214 non-null    float64
 10  IP      863 non-null    float64
 11  H       863 non-null    int64
 12  R       863 non-null    int64
 13  ER      863 non-null    int64
 14  BB      863 non-null    int64
 15  SO      863 non-null    int64
 16  HR      863 non-null    int64
 17  HBP     863 non-null    int64
 18  ERA     863 non-null    float64
 19  AB      863 non-null    int64
 20  2B      863 non-null    int64
 21  3B      863 non-null    int64
 22  IBB     863 non-null    int64
 23  GDP     863 non-null    int64
 24  SF      863 non-null    int64
 25  SB      863 non-null    int64
 26  CS      863 non-null    int64
 27  PO      863 non-null    int64
 28  BF      863 non-null    int64
 29  Pit     863 non-null    int64
 30  Str     863 non-null    float64
 31  StL     863 non-null    float64
 32  StS     863 non-null    float64
 33  GB/FB   863 non-null    float64
 34  LD      863 non-null    float64
 35  PU      863 non-null    float64
 36  WHIP    863 non-null    float64
 37  BAbip   863 non-null    float64
 38  SO9     863 non-null    float64
 39  SO/W    811 non-null    float64
 40  mlbID   863 non-null    object
dtypes: float64(15), int64(22), object(4)
memory usage: 283.2+ KB